[submodule "tidy/trybuild"]
	path = tidy/trybuild
	url = https://github.com/uselessgoddess/trybuild.git
[submodule "compiler/errors/ariadne"]
	path = compiler/errors/ariadne
	url = https://github.com/uselessgoddess/ariadne.git
